@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your index.css or global stylesheet */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}